<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Animallist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	<style>
body,h1,h2,h3,h4,h6 {font-family: "Karma", sans-serif}
h5 {font-family: "Tangerine", serif}
.w3-bar-block .w3-bar-item {padding:20px}
.w3-myfont {font-family: "Comic Sans MS", cursive, sans-serif}
.w3-teema-d1 {color:#fff !important;background-color:#3949ab !important}

</style>
</head>
<body>
<!-- Sivupalkki (piilotettu oletuksena) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-right" style="display:none;z-index:2;width:20%;right:0" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Sulje valikko</a>
  <a href="/index" onclick="w3_close()" class="w3-bar-item w3-button w3-teema-d1">Pääsivu</a>
  <a href="/animallist" onclick="w3_close()" class="w3-bar-item w3-button w3-teema-d1">Kaikki eläimet</a>
  <a href="/roomlist" onclick="w3_close()" class="w3-bar-item w3-button w3-teema-d1">Kaikki sjoituspaikat</a>
  <a href="/login" onclick="w3_close()" class="w3-bar-item w3-button w3-teema-d1">Kirjaudu sisään</a>
 
</nav>

<!-- Ylävalikko -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16	w3-right" onclick="w3_open()">☰</div>
    <div class="w3-left w3-padding-12"  onclick="w3_open()"><img src="kuvat/logo.jpg" alt="Logo" style="display:block;margin:auto" width="100" height="90"></div>
    <div class="w3-center w3-padding-12 w3-jumbo"><b>Löytöeläinkoti</b>
    </div>
	<div class="w3-center w3-padding-12 w3-medium w3-teema-d1"><b>Pääkaupunkiseudun löytöeläimet</b></div>
  </div>
</div>
	<h1 class="jumbotron text-center text-primary">Kaikki eläimet</h1>
	
	<div class="text-center">
			<h2 class="text-info" th:inline="text"><strong>Tervetuloa [[${#httpServletRequest.remoteUser}]]</strong></h2>
	</div>
	
	  <br />

    <table class="table table-bordered">
		<tr>
		    <th>Tunnus</th>
		    <th>Eläin tyyppi</th>
		    <th>Rotu</th>
		    <th>Sukupuoli</th>
		    <th>Kuvaus</th>
		    <th>Löytöpäivä</th>
		    <th>Sijoituspaikka</th>
		    <th>Lähtöpäivä</th>
		    <th>Lähdön syy</th>
		    	
		</tr>  
    	<tr th:each = "animal : ${animals}">
    		<td th:text="${animal.name}"></td>
    		<td th:text="${animal.animalKind.name}"></td>
    		<td th:text="${animal.breed.name}"></td>
    		<td th:text="${animal.sex.name}"></td>
    		<td th:text="${animal.description}"></td>
    		<td th:text="${animal.foundDate}"></td>
    		<td th:text="${animal.room.name}"></td>
    		<td><span th:if="${animal.departureDate!=null}" th:text="${animal.departureDate}"></span></td>
    		<td><span th:if="${animal.departureCause!=null}"  th:text="${animal.departureCause.name}"></td>
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deleteanimal/{id}(id=${animal.animalId})}" class="btn btn-danger">Poista</button></td>   
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editanimal/{id}(id=${animal.animalId})}" class="btn btn-success">Muokata</button></td>  
 			 		
    	</tr>
     </table>
     <br />
	<p class="text-center" sec:authorize="hasAuthority('ADMIN')"><button class="btn btn-success" OnClick="location.href='/addanimal'">Lisää eläin</button>	
	
	
	<div sec:authorize="isAuthenticated()">
	<div class="text-center" style="padding:20px 0" >
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-danger"/>
			</form>
	</div>
	</div>
	
	<!-- Alatunniste-->
  <footer class="w3-center w3-row-padding w3-padding-32  w3-teema-d1" style="margin-top:20px">
          
      <p class="w3-myfont">© Löytöeläinkoti Löytölä Ry 2019. All rights reserved</p>
   
  </footer>   

  
 
  <!-- loppusivun sisältö -->


<script>
// Script avaa ja sulje sivupalkki
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>
</body>
</html>